@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Palette+Mosaic&display=swap");
body {
  margin: 0px
}
.main, .barcodePage{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Bebas Neue', cursive;
  image-rendering: -webkit-optimize-contrast;
}
.wrapper {
  flex: 80%;
}
.main_header {
  flex: 20%;
  color: black;
  text-align: left;
  display: flex;
  align-items: center;
}
.headerText {
  position: relative;
  left: 5vw;
  font-size: 15vw;
}
.headerText a{
  color: black;
}
.welcome {
  flex: 43%;
  display: flex;
  background-image: url(forestbackground.jpg);
  background-size: cover;
}
.welcomeText{
  max-width: 40vw;
  color: white;
  font-size: 10vw;
}
.blank {
  flex: 2%;
}

.apps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 45%;
  font-size: 12vw;
  cursor: pointer;
  color: white;
}

.barcode{
  background-color: limegreen;
  display: flex;
  flex: 33%;

}
.search{
  background-color: lime;
  display: flex;
  flex: 33%
}
.map {
  background-color: forestgreen;
  display: flex;
  flex: 33%;
}
.barcode, .search, .map, .welcome  {
  justify-content: center;
  align-items: center;
}
#video {
  width: 60vw;
  height: 80vw;
}
